.hoverWrapper {
  position: relative;
    cursor: pointer;
}
.hoverWrapper:hover .hover-wrapper-content {
    opacity: 1;
}
.hoverWrapper .hover-wrapper-content {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: 10;
    width: 124px;
    background: black;
    padding: 5px 10px;
    color: #fff;
    border-radius: 3px;
    transition: all linear 0.15s;
}